# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
#*.out
*.app

# build/bin directories
**/bin
/build

# misc./temp directories
bck
misc
scrap
tmp
temp
stdout*.log

# vim swp files
*.swp

# GPTL log files
gptl*.log*

# LaTeX build files
*.aux
*.toc
*.synctex.gz
manual/*.log
manual/*.out
manual/*.bbl
manual/*.blg
manual/*.bak
